---
import Navbar from "../components/Navbar.astro"
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Safer Journeys</title>
		<script src="../../node_modules/preline/dist/preline.js"></script>
        <script defer src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"></script>
	</head>
	<body class="max-w-screen-2xl h-screen mx-auto">
		<Navbar/>
		<Hero/>
		<About/>
	</body>
</html>
